PORT=8084
LOCATION_SERVICE_HTTP_URL=http://localhost:8083
RIDE_SERVICE_HTTP_URL=http://localhost:8082
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP=matching-service
INTERNAL_SERVICE_TOKEN=local-internal-service-token
