PORT=8088
AUTH_SERVICE_GRPC_ADDR=localhost:9092
AUTH_SERVICE_HTTP_URL=http://localhost:8081
USER_SERVICE_HTTP_URL=http://localhost:8080
RIDE_SERVICE_HTTP_URL=http://localhost:8082
LOCATION_SERVICE_HTTP_URL=http://localhost:8083
MATCHING_SERVICE_HTTP_URL=http://localhost:8084
NOTIFICATION_SERVICE_HTTP_URL=http://localhost:8085
PRICING_SERVICE_HTTP_URL=http://localhost:8086
PAYMENT_SERVICE_HTTP_URL=http://localhost:8087
